!!! 5
%html{lang: "en"}
  %head
    = partial "includes/layout/head"
  %body
    = partial "includes/google/gtm"
    = partial "includes/layout/header"
    .webcast-header
      - if webcast.image
        %img{src: "#{webcast.image}"}/
      .webcast-info
        %h1= webcast.title
        %p= webcast.subtitle
    .gitlab-content-container
      .webcast-content
        .share-container
          %p Share:
          %a{href: "https://www.facebook.com/sharer/sharer.php?u=https://about.gitlab.com#{current_page.url}", target: "_blank"}
            %i.fab.fa-facebook
          %a{href: "https://twitter.com/intent/tweet?url=https%3A%2F%2Fabout.gitlab.com#{current_page.url}=gitlab=Check%20out%20GitLab%27s%20webcast%3A%20=gitlab%2Cwebcast%2Cwebinar", target: "_blank"}
            %i.fab.fa-twitter
          %a{href: "https://www.linkedin.com/shareArticle?url=https://about.gitlab.com#{current_page.url}=#{webcast.title}"}
            %i.fab.fa-linkedin
          %a{href: "http://www.reddit.com/submit?url=https://about.gitlab.com#{current_page.url}=Post%20to%20Reddit%20via%20URL", target: "_blank"}
            %i.fab.fa-reddit
        .webcast-content-section
          - if webcast.youtube_url?
            .webcast-video-container.margin-bottom50
              %h3 Enjoy the webcast!
              %iframe{allow: "autoplay; encrypted-media", allowfullscreen: "", frameborder: "0", src: "#{webcast.youtube_url}"}
          - if webcast.youtube_url.nil?
            %h3= webcast.date
          = kramdown(webcast.content)
        - if webcast.speakers?
          .webcast-content-section.margin-top50
            %h3 Speakers:
            - webcast.speakers.each do |speaker|
              .speaker-container
                .speaker-headshot{style: "background:url('#{speaker.image}') center center no-repeat; background-size: cover;"}
                .speaker-info
                  %p.speaker-name= speaker.name
                  %p.speaker-title= speaker.title
                %p.speaker-description.margin-top10= speaker.about
      - if webcast.youtube_url.nil?
        .form-container
          %h3.margin-top0 Register for the webcast:
          %p.font-small
            If form does not render, please use
            = succeed "." do
              %a{href: "https://www.google.com/chrome/", target: "_blank"} another browser
          .form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form{id: "mktoForm_#{webcast.form}"}
            :javascript
              var formNumber = #{webcast.form || 'null'};
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", formNumber, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  $('.confirmform').attr('style', 'height: initial');
                  return false;
                });
              });
            .confirmform{style: "visibility:hidden;height:0;"}
              .centered-form-info
                %h3 Registration received!
                %p= webcast.success_message
      - else
        .form-container
          %h3.margin-top0 Watch the webcast:
          %p.font-small
            If form does not render, please use
            = succeed "." do
              %a{href: "https://www.google.com/chrome/", target: "_blank"} another browser
          .form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form{id: "mktoForm_#{webcast.form}"}
            :javascript
              var formNumber = #{webcast.form || 'null'};
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", formNumber, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.webcast-video-container').css('display', 'block');
                  $('.confirmform').attr('style', 'visibility: visible');
                  $('.confirmform').attr('style', 'height: initial');
                  return false;
                });
              });
            .confirmform{style: "visibility:hidden;height:0;"}
              .centered-form-info
                %p Thank you for registering. The on-demand webcast will appear on the left.
    = partial "includes/layout/footer"
