---
layout: default
title: Hackathon
description: "Landing page for GitLab Hackathon"
suppress_header: true
extra_css:
  - contributing.css
---
.wrapper
  .simple-header
    %h1 GitLab Hackathon
    %p
    :markdown
      The next Hackathon will be in mid Q1'2019.  Stay tuned for an announcement in January!
  #content
    .wrapper.container.contributing-content{role: "main"}
      .block
        .block-content
          %h2.block-title Introduction
          :markdown
            GitLab Hackathon is a virtual event that takes place once a quarter where community members get together to work on merge requests, participate in tutorial sessions, and also to help new community members. The event is open to anyone who are interested in contributing code, documentation, transations, UX design, etc. to GitLab. The main communication channel during the Hackathon is the [GitLab Community room in Gitter](https://gitter.im/gitlabhq/community).  
            
            If you want to get more familiar with how you can contribute to GitLab, please visit the [Contributing to GitLab page](https://about.gitlab.com/contributing/). 

      .block
        .block-content
          %h2.block-title Q4'2018 Hackathon (November 14-15)
          %p   
          
          %ul
            %li
              %a{href: "https://about.gitlab.com/2018/10/23/q4-hackathon-announcement/"} Event announcement blog post
            %li
              %a{href: "https://gitlab.com/gitlab-com/marketing/community-relations/contributor-program/gitlab-hackathon/q4-2018-hackathon/wikis/home"} Event wiki page
              
      .block
        .block-content
          %h2.block-title Q3'2018 Hackathon (September 27-28)
          %p 
          
          %ul
            %li
              %a{href: "https://about.gitlab.com/2018/09/17/gitlab-hackathon/"} Event announcement blog post
            %li
              %a{href: "https://gitlab.com/gitlab-com/marketing/community-relations/contributor-program/gitlab-hackathon/q3-2018-hackathon/issues/6" } Hackathon prize winners
            %li
              %a{href: "https://about.gitlab.com/2018/10/09/hackathon-recap/"} Event recap blog post
            %li
              %a{href: "https://gitlab.com/gitlab-com/marketing/community-relations/contributor-program/gitlab-hackathon/q3-2018-hackathon/wikis/Q3-2018-Hackathon"} Event wiki page
            
            